fastapi
uvicorn
python-multipart
pandas
numpy
lingam
scikit-learn
networkx
semopy
statsmodels
xlrd
openpyxl
python-louvain
pyvis
python-json-logger
structlog
tenacity
joblib
optuna
node2vec
gensim
pgmpy
plotly
graphviz
pydantic
pydantic-settings
