@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #00A968;
    --color-primary-dark: #008F58;
    --color-primary-hover: #00965E;
    --color-secondary: #333333;
    --color-background: #F5F7F9;
  }

  body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: #F5F7F9;
  }
}